.dashboard-container {
  width: 200px;
  height: 100vh;

  border: 1px solid rgb(255, 255, 255, 0.2);
  border-left: none;
  border-top: none;
  background-color: rgba(109, 193, 109, 0.04);
  backdrop-filter: blur(8px);
  display: flex;
  flex-direction: column;
  align-items: center;

  -webkit-box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.57);
  box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.57);
}

nav a {
  display: block;
  padding: 25px;
  color: white;
  text-decoration: none;
  font-size: large;
  margin: auto;
}

nav a:hover {
  background-color: rgba(109, 193, 109, 0.1);
  color: white;
  border-radius: 15px;
  margin: auto;
  font-weight: 600;
}

.diagramm_div {
  width: 1300px;
  height: 600px;
  background-color: gray;
  margin-top: 25px;
}

.main {
  width: 1700px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.übersicht_feld {
  width: 1500px;
  height: 400px;
  margin-top: 25px;
  display: flex;
  justify-content: space-between;
}

.portfolio_field {
  width: 500px;
  margin-right: 50px;
  margin-top: 50px;
  margin-bottom: 50px;

  -webkit-box-shadow: 38px 13px 31px -12px rgba(0, 0, 0, 0.26);
  box-shadow: 38px 13px 31px -12px rgba(0, 0, 0, 0.26);
  background-color: rgba(206, 206, 206, 0.274);
  backdrop-filter: blur(8px);
  border-radius: 25px;

  padding: 20px;
}

.kategorie_select {
  width: 80%;
  height: 40px;
  background-color: rgb(255, 255, 255, 0.8);
  border-radius: 25px;
}

.betrag_input {
  width: 200px;
  height: 40px;
  font-size: large;
  font-weight: bolder;
}

.btn {
  margin-top: 25px;
  margin-left: 25px;
  width: 200px;
  height: 80px;
  border-radius: 25px;
  font-weight: bolder;
}

.gesamt_output{
 background-color: rgb(255, 255, 255, 0.0);
 border: none;
 color: white;
}

.einnahmen_output{
  background-color: rgb(255, 255, 255, 0.0);
  border: none;
  color: white;
}

.ausgaben_output{
  background-color: rgb(255, 255, 255, 0.0);
  border: none;
  color: white;
}