.main_dashboard {
  display: flex;
  flex: 1; /* Nimm dir automatisch den gesamten restlichen Platz! */
  padding: 20px; /* Ein bisschen Abstand zum Rand */
}

.transactions_dashboard {
  display: none;
}

