.top_bar{
    width: 360px;
    height: 90px;

    margin-top: 15px;
    margin-left: 10px;
    margin-right: 10px;

    display: flex;
    justify-content: space-between;
    align-items: center;

    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.1);

    background-color: rgba(11, 17, 23);
}


.überschrift{
    font-size: 30px;
    font-weight:bolder
}

.menu_icon{
    width: 40px;
    height: 40px;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

    margin-left: 10px;

    background-color: rgb(7, 114, 221);
    border-radius: 50%;

    font-size: 30px;
    font-weight: bolder;
}
