.top_bar{
    width: 360px;
    height: 100px;

    margin-top: 15px;
    margin-left: 10px;
    margin-right: 10px;

    display: flex;
    justify-content: space-between;
    align-items: center;

    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.1);

    background-color: rgba(11, 17, 23);
}

.profil_img{

    width: 20%;

    display: flex;
    justify-content: center;
}

.überschrift{
    font-size: 30px;
    font-weight:bolder
}